<h1>Hello World. Templating with HBS</h1>

<h2>From {{name}}</h2>
{{#if isAuth}}
<h3>Wellcome User</h3>
{{else}}
<h3>Wellcome Guest</h3>
{{/if}}


<ul>
    {{#each users}}
    {{>user}}
    {{/each}}
</ul>