<main>
    <div class="register-box">
        <h1>Register</h1>
        <h4>It's free and only take a minute</h4>

        <form method="post" class="container-text">
            <h2>Register</h2>
            <p>Register to get ideas and view the latest masterpieces.</p>

            <label for="username">Username:</label>
            <input type="text" id="username" placeholder="ivan_00" name="username">

            <label for="email">Email:</label>
            <input type="text" id="email" placeholder="Email.." name="email">

            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Password.." name="password">

            <label for="re-password">Confirm Password:</label>
            <input type="password" id="re-password" placeholder="Password.." name="repeatPassword">            

            <input type="submit" value="Submit">
        </form>
        <p>Already have an account? <a href="auth/login">Login here</a></p>
    </div>

</main>